*{
    margin: 0;
    padding: 0;
}

header{
    /*background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(image.jpg);
    /*background-image: linear-gradient ( rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)),
    url(image.jpg);*/
    height: 100vh;
    background-position: center;
    background-size: cover;
   
} 

.background-img{
    background-image:url(image.jpg);

    /*background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));*/
    background-position: center;
    background-size: cover;
    filter: blur(4px);
    -webkit-filter: blur(4px);
    height: 100%;

}

.hero{
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    color: #fff;
    text-align: center;
    font-family: 'Dosis', sans-serif;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    z-index: 2;
    border: 3px solid #F1F1F1;
    padding: 40px;
}

h1{
    font-size: 3.75rem;
    letter-spacing: 0.94rem;
    margin-top: 1rem;
}


hr{
    width: 50%;
    margin: 30px auto;
    border: 1.5px solid #fff;
}

p{
    font-size: 1.25rem;
    margin-bottom: 2rem;
}

.typewriter-txt {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid #04738C; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 4.0s steps(40, end),
      blink-caret .90s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #04738C; }
  }
  